<appSettings>
  <add key="MailServer" value="dev-smtp.vhstore.com" />
  <add key="FacebookAppId" value="489071648140787" />
  <add key="FacebookAppSecret" value="4e6a4a975bb4fe975213accfbbe5525a" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>